# FQDN of this host. Used by scripts to handle Route53 updates
ITON_FQDN=host.exaple.com

# DNS parameters
ITON_DNS_ZONE_ID=<xxxxxxxxxxxxx>
ITON_DNS_TTL=60
ITON_DNS_COMMENT="Some comment"

# DNS Access Key Id
ITON_DNS_AKEY=<access key>

# DNS Secret Access Key
ITON_DNS_SKEY=<secret key>
